<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>《新街机捕鱼》官方网站——万炮捕鱼，一触即发！</title>
	<meta name="keywords" content="新街机捕鱼、捕鱼、捕鱼达人、捕鱼来了、波克捕鱼、波克、美人鱼、渔场、千炮捕鱼、海盗捕鱼、疯狂捕鱼、海贼捕鱼、赚金币、赚钱、千万金币、万炮捕鱼、华人捕鱼、电玩捕鱼、初级渔场、中级渔场、高级渔场、波克城市、海盗宝藏、新千炮捕鱼、10000炮捕鱼、捕鱼平台、正版捕鱼、休闲游戏、buyu、jieji、xinjiejibuyu、老虎机,捕鱼电玩城,单机游戏,街机捕鱼游戏,电玩城,经典捕鱼,欢乐捕鱼,超级电玩城,手游大全,游戏厅,现金夺宝捕鱼，赢钱,话费,钓鱼,万炮捕鱼,捕鱼大师,街机电玩城,捕鱼ol,3d捕鱼,单机捕鱼、金币、棋牌、街机,单机、捕鱼机、中发白、摩天轮">
	<meta name="description" content="全新多模式捕鱼手机版——《新街机捕鱼》震撼来袭！还原街机捕鱼经典玩法，高级场、竞技场、世界BOSS、翅膀等多种休闲社交玩法，让您体验到前所未有的畅爽感！高清炫酷3D画质，Q萌鱼种，带来全新的感官体验">
	<link rel="stylesheet" type="text/css" href="css/style.css?v=0.0.2">
	<link rel="stylesheet" type="text/css" href="css/homepage.css?v=0.0.2">
	<link rel="stylesheet" type="text/css" href="css/second.css?v=0.0.2">
	<script type="text/javascript" src="js/select.js?v=0.0.2"></script>
	<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="http://s0.web.hulai.com/static/jquery/jquery-1.11.2.min.js"></script>
<!-- 		<script type="text/javascript" src="js/secondCommon.js?v=0.0.2"></script>
		<script type="text/javascript" src="js/common.js?v=0.0.2"></script>
		<script type="text/javascript" src="js/newsList.js?v=0.0.2"></script> -->
		<!-- 		<script type="text/javascript" src="js/platform_yuyue.js?v=0.0.2"></script> -->
		<script type="text/javascript" src="//page.hulai.com/static/open/js/hulai-cms-0.0.1.js"></script>
		<script type="text/javascript" src="js/moment.js"></script>
		<script>
			var _hmt = _hmt || [];
			(function() {
				var hm = document.createElement("script");
				hm.src = "https://hm.baidu.com/hm.js?33d28da08dd2813859547fb8e6ea1550";
				var s = document.getElementsByTagName("script")[0]; 
				s.parentNode.insertBefore(hm, s);
			})();
		</script>
		<style type="text/css">
			body{
				background: #000 url(../img/second/bg.jpg) no-repeat top center;
			}
			[v-cloak] {
    	display: none;
			}
		</style>

	</head>
	<body>
		<div id="app" v-cloak>
			<div class="nav">
				<ul>
					<li>
						<a href="index.html" class="news">官网首页</a>
					</li>
					<li>
						<a href="newsInformation.html#441" class="activity">新闻资讯</a>
					</li>
					<li>
						<a href="newsList.html#445" class="activity" @click="goGetList('游戏资料',1)">游戏资料</a>
					</li>
					<li class="home">
						<a  href="#" class="home"></a>
					</li>
					<li>
						<a href="newsList.html#444" class="down" @click="goGetList('游戏攻略',1)">游戏攻略</a>
					</li>
					<li>
						<a href="newsInformation.html#443" class="down">活动专区</a>
					</li>
					<li>
						<a href="#" class="down" @click="expect()">玩家社区</a>
					</li>
				</ul>
			</div>

			<!-- 视频播放 -->
			<div class="video_play">
				<span id="video_play" @click="videoClick()"></span>
			</div>

			<!-- 邮箱装饰 -->
			<div class="mail-deco">
				<!-- 二维码图片 -->
				<img style="margin-left: 36px;margin-top: 106px;width: 168px;height: 168px;" src="img/homepage/a.jpg?v=0.0.2">
				<a href="javascript:void(0);" @click="expect();"><span class="ios_download"></span></a>
				<a href="http://huleshikongres-10034783.file.myqcloud.com/newjjfishing/res/xinjiejibuyu18.apk"><span class="android_download"></span></a>
			<!-- <a href="https://www.taptap.com/app/43645">
				<span class="taptap_download">
				<img src="img/tap.png" style="width:121px;height:39px">
				</span>
			</a>
			<a href="http://dlied6.qq.com/invc/xfspeed/qqpcmgr/download/GameDownload_com.tencent.tmgp.yzdzz_92.exe"><span class="android_download" style="margin-top: 8px;background:url(img/pc.png)"></span></a> -->
		</div>

		<div class="content content_list" style="height: 920px;">
			<div ></div>
			<div class="w1000" style="width: 1062px;height: 695px;">
				<div class="left_down" style="background-image: none;margin-top: 74px;margin-left: 51px;">
					<img src="img/qr.png?v=0.0.2" style="width: 170px;margin-top: 12px;">
					<a href="http://huleshikongres-10034783.file.myqcloud.com/newjjfishing/res/xinjiejibuyu18.apk"><img src="img/android_d.png?v=0.0.2" style="margin-top:5px;"></a>
					<a href="javascript:void(0);" @click="expect();"><img src="img/ios_d.png?v=0.0.2" style="margin-top:5px;"></a>
					<a href="javascript:void(0);"><img onclick="toGonglue()" style="margin-top: 6px;" src="img/second/left_pic.jpg?v=0.0.2"></a>
				</div>
				<a href="index.html" class="toSY">《 返回首页</a>
				<!-- 二级页面 -->
				<div class="second_bg">
					<ul class="list_message">
						<li v-for="item in listData">
							<span class="left_classify fl">{{listName}}</span>
							<span style="margin-left:15px;width: 140px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
								<a :href="item.hrefVal">{{item.title}}</a>
							</span>
							<span class="fr" style="margin-right:10px">{{item.listDataTime}}</span>
						</li>
					</ul>

					<ul class="page" v-show="more1">
						<li v-if="cur>1"><a v-on:click="cur--,btnClick(cur)"><</a></li>
						<li v-if="cur==1"><a class="banclick"><</a></li>
						<li v-for="index in indexs"  v-bind:class="{ 'active': cur == index}">
							<a v-on:click="btnClick(index)">{{ index }}</a>
						</li>
						<li v-if="cur!=all"><a v-on:click="cur++,btnClick(cur)">></a></li>
						<li v-if="cur == all"><a class="banclick">></a></li>
					</ul>
		  		    <!-- <ul class="page">

		  		  </ul>  -->   
		  		</div>
		  	</div>
		  	<!-- 底部文字 -->
		  	<p class="bottom_text buyu_bottom_text">Copyright @2017 Hoolai Game All rights reserved.| 互爱互动（北京）科技有限公司版权所有</p>
		  	<p class="bottom_text2 buyu_bottom_text2">京ICP备11034336号-1 网络文化经营许可证-文网文[2011]0744-272号</p>
		  </div>

		  <!-- 遮罩层 -->
		  <div id="cover" v-show="cover" @click="videoClose()"></div>

		  <!-- 视频内容播放 -->
		  <div class="video_player" v-show="video_play">
		  	<img src="img/homepage/close_video.png" class="video_close" @click="videoClose()">
		  	<video width="640" height="360" src="http://huleshikongres-10034783.file.myqcloud.com/newjjfishing/res/video/37.mp4" controls="controls">
		  		无法支持html5浏览器
		  	</video>
		  </div>
		</div>
		<script src="//page.hulai.com/static/open/js/vue-2.1.8.min.js"></script>
		<script type="text/javascript" src="js/jointly.js?v=0.0.2"></script>
		
	<style>
		.active a{
		    background-color: #2d61fb;
		    color: #f9e4c3;
		    border-radius: 4px;
		    width: 20px;
		    height: 20px;
		    display: block;
		    line-height: 20px;
		}
		#cover1 {
			display: block;
		}
		.video_player1 {
			display: block;
		}
	</style>
	</body>
	</html>
